#btnSave{
    -fx-background-color: #86eccd;
    -fx-background-radius: 7px;
    -fx-border-color: black;
    -fx-border-radius: 7px;
}

#btnSave:hover{
    -fx-background-color: #ecea86;
    -fx-border-color: yellow red green blue;
}
TextField{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-color: rgba(255, 255, 0, 0) rgba(255, 0, 0, 0) #023165 rgba(0, 0, 255, 0);
}
TextField:hover{
    -fx-border-color: rgba(255, 255, 0, 0) rgba(255, 0, 0, 0) #7db3ea rgba(0, 0, 255, 0);
}
TextField:focused{
    -fx-border-color: rgba(255, 255, 0, 0) rgba(255, 0, 0, 0) #f1061a rgba(0, 0, 255, 0);
}